@import "../../styles/variables";
@import "../../styles/mixins";

.profile {
    position: absolute;
    overflow: scroll;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 rem(10) rem(20) rem(-5) rgba(0, 0, 0, 0.1);
    border-radius: rem(10);
    background: $white;
    padding: rem(20) rem(44) rem(67) rem(44);
    text-align: center;
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: rem($fz-big);
    }
    &__subtitle {
        color: $gray-light;
        font-size: rem($fz-text);
        margin-bottom: rem(20);
    }
    &__grid {
        display: grid;
        grid-template-columns: minmax(auto, rem(355)) minmax(auto, rem(347));
        column-gap: rem(100);
    }
    &__form {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        column-gap: rem(60);
        row-gap: rem(60);
        margin-bottom: rem(30);
        position: relative;
    }
    &__input {
        border: none;
        border-bottom: 2px solid $gray;
        outline: none;
        padding: rem(11);
        padding-left: 0;
        font-size: rem($fz-text);
        font-weight: $regular;
        color: $gray-dark;
        transition: 0.3s all;
        &:focus {
            color: $black;
            border-bottom: 2px solid $gray-dark;
        }
    }
    &__label {
        font-size: rem($fz-label);
        font-weight: $bold;
        margin-top: rem(15);
        text-align: left;
        color: $gray-dark;
    }
    &__about-left {
        display: grid;
        box-shadow: 0 rem(5) rem(11) 0 rgba(50, 50, 50, 0.75);
        padding: rem(20) rem(20) rem(35) rem(20);
    }
    &__about-right {
        display: grid;
        box-shadow: 0 rem(5) rem(11) 0 rgba(50, 50, 50, 0.75);
        padding: rem(20) rem(20) rem(35) rem(20);
    }
    &__button {
        @include button-reset;
        @include push--auto;
        display: block;
        padding: rem(16) rem(60);
        background: $orange;
        border-radius: rem(70);
        text-align: center;
        text-decoration: none;
        grid-column-start: 2;
        grid-column-end: 3;
        &[disabled] {
            background: $gray;
        }
    }
    &__status {
        position: absolute;
        bottom: 0;
        right: rem(15);
    }
}

@media (max-width: 1027px) {
    .profile {
        &__form {
            column-gap: rem(30);
        }
    }
}
@media (max-width: 975px) {
    .profile {
        &__form {
            grid-template-columns: 1fr 1fr;
        }
        &__button {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &__about-right {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__about-left {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .rccs {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (max-width: 675px) {
    .profile {
        &__form {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 1fr rem(70);
            row-gap: rem(25);
        }
        &__button {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        &__about-right {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__about-left {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    .rccs {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media (max-width: 675px) {
    .profile {
        padding: rem(20) rem(10) rem(67) rem(10);
    }
}
@media (max-width: 320px) {
    .rccs__card {
        width: rem(250);
    }
}