@import "../../styles/variables";
@import "../../styles/mixins";


.success-checkmark {
    width: rem(80);
    height: rem(80);
    margin: 0 auto;
    margin-top: rem(15);
    .check-icon {
        width: rem(80);
        height: rem(80);
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: rem(4) solid $green;
        &::before {
            top: rem(3);
            left: rem(-2);
            width: rem(30);
            transform-origin: 100% 50%;
            border-radius: rem(100) 0 0 rem(100);
        }

        &::after {
            top: 0;
            left: rem(30);
            width: rem(60);
            transform-origin: 0 50%;
            border-radius: 0 rem(100) rem(100) 0;
            animation: rotate-circle 4.25s ease-in;
        }

        &::before,
        &::after {
            content: "";
            height: rem(100);
            position: absolute;
            background: none;
            transform: rotate(-45deg);
        }

        .icon-line {
            height: rem(5);
            background-color: #4caf50;
            display: block;
            border-radius: rem(2);
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: rem(46);
                left: rem(14);
                width: rem(25);
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: rem(38);
                right: rem(8);
                width: rem(47);
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: rem(-4);
            left: rem(-4);
            z-index: 10;
            width: rem(78);
            height: rem(78);
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: rem(4) solid rgba(76, 175, 80, 0.5);
        }

        .icon-fix {
            top: rem(8);
            width: rem(5);
            left: rem(26);
            z-index: 1;
            height: rem(85);
            position: absolute;
            transform: rotate(-45deg);
            background-color: none;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: rem(1);
        top: rem(19);
    }
    54% {
        width: 0;
        left: rem(1);
        top: rem(19);
    }
    70% {
        width: rem(50);
        left: rem(-8);
        top: rem(37);
    }
    84% {
        width: rem(17);
        left: rem(21);
        top: rem(48);
    }
    100% {
        width: rem(25);
        left: rem(14);
        top: rem(45);
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: rem(46);
        top: rem(54);
    }
    65% {
        width: 0;
        right: rem(46);
        top: rem(54);
    }
    84% {
        width: rem(55);
        right: 0;
        top: rem(35);
    }
    100% {
        width: rem(47);
        right: rem(8);
        top: rem(38);
    }
}
