// // colors // //

$orange: #FDBF5A;
$black: #1C1A19;
$white : #ffffff;
$gray: #E4E4E4;
$gray-dark: #828282;
$gray-light: #7B7B7B;
$error: #ec4545;
$green: #2fcc8b;

// // // // // //

// // font sizes // //

$fz-big: 36px;
$fz-title: 30px;
$fz-text: 18px;
$fz-label: 16px;

// // // // // //

// // font weight // //

$bold: 700;
$regular: 400;

// // // // // //
