@import "../../styles/variables";
@import "../../styles/mixins";

.map {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: rem(100) 1fr;
    overflow: hidden;
    &__header {
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(20) rem(50) rem(20) rem(27);
        color: $white;
    }
    &__menu {
        @include list-reset;
        display: flex;
    }
    &__item {
        margin-left: rem(35);
    }
    &__link {
        @include button-reset;
        transition: all 0.3s;
        text-decoration: none;
        &--active {
            color: $orange;
        }
        &:hover {
            color: $orange;
        }
    }
    &__litmap {
        border: none;
    }
    &__map {
        position: relative;
        height: 100%;
    }
    &__order {
        position: absolute;
        left: rem(60);
        top: rem(60);
        box-shadow: 0 rem(10) rem(20) rem(-5) rgba(0, 0, 0, 0.1);
        border-radius: rem(10);
        padding: rem(25) rem(20) rem(30) rem(20);
        background: $white;
        width: rem(480);
        height: rem(471);
    }
}
