@import "../../styles/variables";
@import "../../styles/mixins";

.map {
    position: relative;
    overflow: hidden;
    height: calc(100vh - rem(105));
    &__header {
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(20) rem(50) rem(20) rem(27);
        color: $white;
    }
    &__menu {
        @include list-reset;
        display: flex;
    }
    &__item {
        margin-left: rem(35);
    }
    &__link {
        @include button-reset;
        transition: all 0.3s;
        text-decoration: none;
        &--active {
            color: $orange;
        }
        &:hover {
            color: $orange;
        }
    }
    &__litmap {
        border: none;
    }
    &__map {
        height: 100%;
    }
    &__order {
        position: absolute;
        left: rem(60);
        top: rem(60);
        box-shadow: 0 rem(10) rem(20) rem(-5) rgba(0, 0, 0, 0.1);
        border-radius: rem(10);
        padding: rem(25) rem(20) rem(15) rem(20);
        background: $white;
        z-index: 2;
        text-align: center;
        font-size: rem($fz-text);
        color: $error;
    }
    &__button {
        @include button-reset;
        @include push--auto;
        display: block;
        padding: rem(8) rem(45);
        background: $orange;
        border-radius: rem(70);
        text-align: center;
        text-decoration: none;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: rem(15);
        color: $black;
        transition: 0.3s;
        &[disabled] {
            background: $gray;
            opacity: 0.5;
            &:hover {
                background: $gray;
            }
        }
        &:hover {
            background: $green;
        }
    }
}

@media (max-width: 650px) {
    .map {
        &__logo {
            max-width: rem(140);
            img {
                max-width: rem(140);
            }
        }
    }
}
@media (max-width: 490px) {
    .map {
        &__logo {
            max-width: rem(35);
            overflow: hidden;
        }
        &__item {
            margin-left: rem(15);
        }
        &__order {
            left: rem(30);
            top: rem(30);
        }
    }
}
@media (max-width: 405px) {
    .map {
        &__order {
            text-align: center;
            left: rem(0);
            top: rem(0);
            width: 100%;
            border-radius: 0;
        }
    }
    .select-search {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .map {
        &__logo {
            display: none;
        }
        &__menu {
            width: 100%;
            justify-content: center;
        }
    }
}
