@import "../../styles/variables";
@import "../../styles/mixins";


.login {
    z-index: 2;
    background: $white;
    box-shadow: 0 0 rem(0) rgba(0, 0, 0, 0.1);
    border-radius: rem(20);
    padding: rem(55) rem(112);
    text-align: right;
    &__title {
        margin-top: 0;
        margin-bottom: rem(32);
        text-align: center;
        font-size: rem($fz-title);
    }
    &__input {
        border: none;
        border-bottom: 2px solid $gray;
        outline: none;
        padding: rem(11);
        padding-left: 0;
        font-size: rem($fz-text);
        font-weight: $regular;
        color: $gray-dark;
        transition: .3s all;
        &:focus {
            color: $black;
            border-bottom: 2px solid $gray-dark;
        }
    }
    &__label {
        font-size: rem($fz-label);
        font-weight: $bold;
        margin-top: rem(25);
        text-align: left;
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        width: rem(355);
    }
    &__forgot {
        display: inline-block;
        margin-top: rem(13);
        text-decoration: none;
        color: $gray-dark;
        font-size: rem($fz-label);
        font-weight: $regular;
        transition: .3s all;
        &:hover {
            color: $black;
        }
    }
    &__button {
        @include button-reset;
        @include push--auto;
        display: block;
        margin-top: rem(46);
        padding: rem(16) rem(140);
        background: $orange;
        border-radius: rem(70);
        text-align: center;
        text-decoration: none;
    }
    &__new {
        text-align: center;
        margin-top: rem(33);
        font-size: rem($fz-label);
        font-weight: $regular;
    }
    &__new-btn {
        @include button-reset;
        color: $orange;
        text-decoration: none;
    }
}