@import "../../styles/variables";
@import "../../styles/mixins";

.home {
    display: grid;
    grid-template-columns: 1fr 1.96fr;
    height: 100vh;
    &__left {
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__right {
        position: relative;
        background: url("../../assets/img/main-bg.JPG") center center/cover no-repeat;
    }
    &__right-sub {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    &__form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
  }

.login {
    z-index: 2;
    background: $white;
    box-shadow: 0 0 rem(0) rgba(0, 0, 0, 0.1);
    border-radius: rem(20);
    padding: rem(55) rem(112);
    text-align: right;
    &__title {
        margin-top: 0;
        margin-bottom: rem(32);
        text-align: center;
        font-size: rem($fz-title);
    }
    &__input {
        border: none;
        border-bottom: 2px solid $gray;
        outline: none;
        padding: rem(11);
        padding-left: rem(5);
        font-size: rem($fz-text);
        font-weight: $regular;
        color: $gray-dark;
        transition: .3s all;
        &:focus {
            color: $black;
            border-bottom: 2px solid $gray-dark;
        }
    }
    &__label {
        font-size: rem($fz-label);
        font-weight: $bold;
        margin-top: rem(25);
        text-align: left;
        color: $black;
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        width: rem(355);
        color: $error;
        position: relative;
    }
    &__forgot {
        @include button-reset;
        display: inline-block;
        margin-top: rem(13);
        text-decoration: none;
        color: $gray-dark;
        font-size: rem($fz-label);
        font-weight: $regular;
        transition: .3s all;
        margin-bottom: rem(10);
        text-align: right;
        &:hover {
            color: $black;
        }
    }
    &__button {
        @include button-reset;
        @include push--auto;
        display: block;
        margin-top: rem(46);
        padding: rem(16) rem(140);
        background: $orange;
        border-radius: rem(70);
        text-align: center;
        text-decoration: none;
        color: $black;
        &[disabled] {
            background: $gray;
        }
    }
    &__new {
        text-align: center;
        margin-top: rem(33);
        font-size: rem($fz-label);
        font-weight: $regular;
    }
    &__new-btn {
        @include button-reset;
        color: $orange;
        text-decoration: none;
    }
    &__help {
        opacity: 1;
        text-align: center;
        transition: 0.3s;
        span {
            color: red;
        }
        &--hidden {
            opacity: 0;
        }
    }
    &__status {
        text-align: center;
        font-size: rem($fz-text);
    }
}

@media (max-width: 960px) {
    .home {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        &__right {
            padding: rem(15) rem(15);
        }
    }
    .login {
        padding: rem(55) rem(56);
    }
}
@media (max-width: 505px) {
    .login {
        padding: rem(55) rem(40);
        &__inputs {
            display: flex;
            flex-direction: column;
            width: auto;
        }
        &__button {
            padding: rem(16) rem(70);
        }
    }
}
@media (max-width: 340px) {
    .login {
        padding: rem(55) rem(20);
        &__inputs {
            display: flex;
            flex-direction: column;
            width: auto;
        }
        &__button {
            padding: rem(16) rem(50);
        }
    }
}